apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- deployment.yaml
- ingress.yaml
namespace: staging
images:
  - name: vfarcic/argo-combined-app
    newTag: "placeholder"
